//common
#wrapper{
	background: $romance;
	overflow: hidden;
}
.main{
	max-width: 1030px;
	margin: 0 auto 30px;
	background: $white;
	padding: 35px 43px;
	border: 1px solid #e4ded1;
	border-radius: 4px;
}
img{
	max-width: 100%;
}